In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import pandas as pd

In [2]:
# File to Load, read, create dataFrame
Jul22_path = Path("Data/JC-202207-citbike-tripdata.csv")
Jul22_data = pd.read_csv(Jul22_path, low_memory=False)
Jul22_df = pd.DataFrame(Jul22_data)
Jul22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual

In [3]:
Aug22_path = Path("Data/JC-202208-citibike-tripdata.csv")
Aug22_data = pd.read_csv(Aug22_path, low_memory=False)
Aug22_df = pd.DataFrame(Aug22_data)
Aug22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member

In [4]:
Sep22_path = Path("Data/JC-202209-citibike-tripdata.csv")
Sep22_data = pd.read_csv(Sep22_path, low_memory=False)
Sep22_df = pd.DataFrame(Sep22_data)
Sep22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4999883C92EACCB0,classic_bike,2022-09-01 21:05:47,2022-09-01 21:08:07,Jersey & 3rd,JC074,Brunswick St,JC023,40.723332,-74.045953,40.724176,-74.050656,member
1,CC87E6815E075F6F,classic_bike,2022-09-10 18:09:26,2022-09-10 18:11:48,Jersey & 3rd,JC074,Brunswick St,JC023,40.723225,-74.045679,40.724176,-74.050656,member
2,B54E7FDDF4C251E6,classic_bike,2022-09-26 21:46:24,2022-09-26 21:56:06,Jersey & 3rd,JC074,Jersey & 3rd,JC074,40.723275,-74.045694,40.723332,-74.045953,member
3,A19A3DC77A98F6C2,classic_bike,2022-09-08 20:11:41,2022-09-08 22:01:29,Jersey & 3rd,JC074,Jersey & 3rd,JC074,40.723230,-74.045731,40.723332,-74.045953,member
4,3530E340A0B0E93F,classic_bike,2022-09-08 17:05:38,2022-09-08 17:10:26,Leonard Gordon Park,JC080,Riverview Park,JC057,40.745789,-74.057112,40.744319,-74.043991,member

In [5]:
Oct22_path = Path("Data/JC-202210-citibike-tripdata.csv")
Oct22_data = pd.read_csv(Oct22_path, low_memory=False)
Oct22_df = pd.DataFrame(Oct22_data)
Oct22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,705B9BE3434233E7,classic_bike,2022-10-27 11:20:23,2022-10-27 11:55:47,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
1,660EE8D1E1D21D0F,classic_bike,2022-10-23 22:56:06,2022-10-23 23:09:03,Grove St PATH,JC005,McGinley Square,JC055,40.719586,-74.043117,40.725340,-74.067622,member
2,81CCDC472990FD62,electric_bike,2022-10-30 17:47:15,2022-10-30 17:49:42,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
3,155ABDCC56D1E9D3,classic_bike,2022-10-11 17:28:53,2022-10-11 17:31:39,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
4,47DB1136D49EDA96,classic_bike,2022-10-16 22:22:34,2022-10-16 22:27:18,Marshall St & 2 St,HB408,9 St HBLR - Jackson St & 8 St,HB305,40.740802,-74.042521,40.747907,-74.038412,member

In [6]:
Nov22_path = Path("Data/JC-202211-citibike-tripdata.csv")
Nov22_data = pd.read_csv(Nov22_path, low_memory=False)
Nov22_df = pd.DataFrame(Nov22_data)
Nov22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7B06EEA21608591A,classic_bike,2022-11-12 14:47:21,2022-11-12 14:58:55,Newport PATH,JC066,7 St & Monroe St,HB304,40.727146,-74.033620,40.746413,-74.037977,casual
1,B22A3E8765F1E165,classic_bike,2022-11-30 08:29:53,2022-11-30 08:45:56,Newport PATH,JC066,7 St & Monroe St,HB304,40.727216,-74.033609,40.746413,-74.037977,member
2,CFB2EB1663C02BB6,electric_bike,2022-11-09 08:28:30,2022-11-09 08:44:50,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
3,85700816DAAE1C36,electric_bike,2022-11-30 14:48:11,2022-11-30 14:58:10,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
4,009EBB1F54C5947E,electric_bike,2022-11-10 18:14:33,2022-11-10 18:23:08,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member

In [7]:
Dec22_path = Path("Data/JC-202212-citibike-tripdata.csv")
Dec22_data = pd.read_csv(Dec22_path, low_memory=False)
Dec22_df = pd.DataFrame(Dec22_data)
Dec22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member
3,372E50F5FB4FD434,classic_bike,2022-12-05 08:16:10,2022-12-05 08:20:09,Morris Canal,JC072,Columbus Drive,JC014,40.712419,-74.038526,40.718355,-74.038914,member
4,AB701FB8091C7431,classic_bike,2022-12-02 13:40:36,2022-12-02 13:46:11,Harborside,JC104,Grove St PATH,JC005,40.719252,-74.034234,40.719586,-74.043117,member

In [8]:
Jan23_path = Path("Data/JC-202301-citibike-tripdata.csv")
Jan23_data = pd.read_csv(Jan23_path, low_memory=False)
Jan23_df = pd.DataFrame(Jan23_data)
Jan23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [9]:
Feb23_path = Path("Data/JC-202302-citibike-tripdata.csv")
Feb23_data = pd.read_csv(Feb23_path, low_memory=False)
Feb23_df = pd.DataFrame(Feb23_data)
Feb23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member

In [10]:
Mar23_path = Path("Data/JC-202303-citibike-tripdata.csv")
Mar23_data = pd.read_csv(Mar23_path, low_memory=False)
Mar23_df = pd.DataFrame(Mar23_data)
Mar23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [11]:
Apr23_path = Path("Data/JC-202304-citibike-tripdata.csv")
Apr23_data = pd.read_csv(Apr23_path, low_memory=False)
Apr23_df = pd.DataFrame(Apr23_data)
Apr23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [12]:
May23_path = Path("Data/JC-202305-citibike-tripdata.csv")
May23_data = pd.read_csv(May23_path, low_memory=False)
May23_df = pd.DataFrame(May23_data)
May23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [13]:
Jun23_path = Path("Data/JC-202306-citibike-tripdata.csv")
Jun23_data = pd.read_csv(Jun23_path, low_memory=False)
Jun23_df = pd.DataFrame(Jun23_data)
Jun23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [14]:
Jul23_path = Path("Data/JC-202307-citibike-tripdata.csv")
Jul23_data = pd.read_csv(Jul23_path, low_memory=False)
Jul23_df = pd.DataFrame(Jul23_data)
Jul23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7A68381621C25F78,classic_bike,2023-07-17 17:16:34,2023-07-17 17:20:52,Astor Place,JC077,Communipaw & Berry Lane,JC084,40.719225,-74.071281,40.714358,-74.066611,member
1,0F814CA67B2FA120,classic_bike,2023-07-26 19:40:15,2023-07-26 19:44:37,Adams St & 2 St,HB407,9 St HBLR - Jackson St & 8 St,HB305,40.739727,-74.036866,40.747907,-74.038412,member
2,775A38967EBF5FB4,electric_bike,2023-07-01 12:12:22,2023-07-01 12:27:45,McGinley Square,JC055,Riverview Park,JC057,40.725340,-74.067622,40.744319,-74.043991,member
3,D93B742DCE1C1447,classic_bike,2023-07-20 19:10:18,2023-07-20 19:17:22,Baldwin at Montgomery,JC020,Brunswick St,JC023,40.723455,-74.064359,40.724176,-74.050656,member
4,AA7A6863B4B92169,electric_bike,2023-07-07 19:33:59,2023-07-07 19:58:17,Baldwin at Montgomery,JC020,Mama Johnson Field - 4 St & Jackson St,HB404,40.723659,-74.064194,40.743140,-74.040041,casual

In [15]:
# Get the total of unique ride id from each dataframe
print(len(Jul22_df["ride_id"].unique()))
print(len(Aug22_df["ride_id"].unique()))
print(len(Sep22_df["ride_id"].unique()))
print(len(Oct22_df["ride_id"].unique()))
print(len(Nov22_df["ride_id"].unique()))
print(len(Dec22_df["ride_id"].unique()))
print(len(Jan23_df["ride_id"].unique()))
print(len(Feb23_df["ride_id"].unique()))
print(len(Mar23_df["ride_id"].unique()))
print(len(Apr23_df["ride_id"].unique()))
print(len(May23_df["ride_id"].unique()))
print(len(Jun23_df["ride_id"].unique()))
print(len(Jul23_df["ride_id"].unique()))

108502
115231
104247
89558
72709
48585
56075
51213
63072
80688
96002
97023
106608

In [16]:
# Checking the data types
print(Jul22_df.dtypes)
print(Aug22_df.dtypes)
print(Jan23_df.dtypes)

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [17]:
# Checking the columns
print(Jul22_df.columns)
print(Dec22_df.columns)
print(Jul22_df.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [18]:
# Append all dataframes to create one main dataframe with same columns
Jul22_to_Jul23_df=pd.concat([Jul22_df, Aug22_df, Sep22_df, Oct22_df, Nov22_df, Dec22_df, 
                             Jan23_df, Feb23_df, Mar23_df, Apr23_df, May23_df, Jun23_df, Jul23_df], ignore_index=True)
Jul22_to_Jul23_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089508,944F5CD711E7688E,classic_bike,2023-07-25 18:21:52,2023-07-25 18:34:38,Van Vorst Park,JC035,Newport Pkwy,JC008,40.718489,-74.047727,40.728745,-74.032108,member
1089509,4665B542F79F8C43,electric_bike,2023-07-26 22:22:20,2023-07-26 22:26:20,Van Vorst Park,JC035,Warren St,JC006,40.718489,-74.047727,40.721124,-74.038051,member
1089510,789D45FDEBC19E83,classic_bike,2023-07-31 07:57:29,2023-07-31 08:03:58,Van Vorst Park,JC035,Newport Pkwy,JC008,40.718422,-74.047691,40.728745,-74.032108,member
1089511,FFBE463288D36C2A,classic_bike,2023-07-07 17:52:09,2023-07-07 18:00:14,Van Vorst Park,JC035,Warren St,JC006,40.718489,-74.047727,40.721124,-74.038051,member
1089512,4DACECF4EBBEB60C,classic_bike,2023-07-26 20:54:16,2023-07-26 21:05:33,Van Vorst Park,JC035,Newport Pkwy,JC008,40.718489,-74.047727,40.728745,-74.032108,member

In [19]:
# print unique rideable_type bikes
unique_type = Jul22_to_Jul23_df['rideable_type'].unique()
print(unique_type)

['classic_bike' 'electric_bike' 'docked_bike']

In [20]:
# print count of unique Start station ID
unique_startstation = len(Jul22_to_Jul23_df['start_station_id'].unique())
unique_startstation

241

In [ ]:
# print unique rideable_type bikes
unique_startstation_name = Jul22_to_Jul23_df['start_station_id'].unique()
print(unique_startstation_name)

In [21]:
# print count of unique End station ID
unique_endstation = len(Jul22_to_Jul23_df['end_station_id'].unique())
unique_endstation

472

In [22]:
# print unique member_casual
unique_membercasual = Jul22_to_Jul23_df['member_casual'].unique()
print(unique_membercasual)

['member' 'casual']

In [23]:
# Storing file in folder
output_path = Path("Jul22_to_Jul23.csv")
Jul22_to_Jul23_df.to_csv(output_path, index=None, header=True)